{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <h1>Ajouter un produit</h1>


    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    {{ form_start (form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget (form) }}

        <button class="btn btn-primary">Ajouter</button>
    {{ form_end (form) }}


{% endblock %}
