{% extends 'base.html.twig' %}



{% block body %}

            <h1>{{product.name}}</h1>  
            <h5>{{product.price/100}} €</h5><p>{{product.description}}</p>
            <p>Vendeur : {{product.user.username}} </p>

{% endblock %}
